@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
:root {
    --crab-size: min(30vw, 25vh);
    --crab-arm-size: calc(var(--crab-size)/20);
    --sun-diameter: min(12vh, 12vw);
    --cake-layer-color:
        0 calc(var(--crab-size) * 0.01 * 1) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 2) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 3) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 4) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 5) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 6) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 7) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 8) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 9) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 10) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 11) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 12) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 13) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 14) 0px #553c13,
        0 calc(var(--crab-size) * 0.01 * 15) 0px #553c13;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

/**************Wish**************/

.wish {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    top: 65%;
    left: 38%;
    width: 22%;
    height: 30%;
    font-family: "Italianno" , cursive;
    align-items: center;
    opacity: 0;
    animation: render-wish 10s forwards;
    animation-delay: 6s;
}

p {
    content: "";
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Italianno", "Arial", sans-serif, cursive;
    font-weight: bold;
    font-size:40px;
    color: #0033a3;
}

.blow-out {
    margin: 0;
    padding: 10px;
    font-family: "Italianno", "Arial", sans-serif, cursive;
    font-weight: bold;
    font-size: 40px;
    background-color: #0033a3;
    color: #ffcc5c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.blow-out:hover {
    background-color: #008800;
}

.blow-out:active {
    background-color: #006538;
}

/*The Sun, The Sea and The Beach*/

.bg {
    width: 100vw;
    height: 100vh;
}

.sky {
    width: 100%;
    height: 30%;
    background-color: #87CEEB;
}

.sea {
    width: 100%;
    height: 20%;
    background-color: #7fb9c2;
    box-shadow: 0 10px 50px white;

}

.sand {
    width: 100%;
    height: 50%;
    background: linear-gradient(#ffcc5c, #ffeead);
}

.sun {
    width: var(--sun-diameter);
    height: var(--sun-diameter);
    border-radius: 50% 50%;
    position: absolute;
    left: 75%;
    top: 5%;
    background: radial-gradient(#fa8607, #fa961b,#fcb033,#fecc51,#ffe469,#fff57b);
    animation: sunshine 5s infinite;
}

.starfish {
	position: absolute;
    top: 52vh;
    left: 0vw;
    transform: scale(0.4);
}

/*************Crab*************/

.crab {
    position: absolute;
    width: var(--crab-size);
    height: var(--crab-size);
    animation: moving-crab 10s linear;
    top: calc(50vh - 0.5 * var(--crab-size));
    right: calc(50vw - 0.5 * var(--crab-size));
}

.crab-body {
    position: absolute;
    top: calc(50% - 30%);
    right: calc(50% - 37.5%);
    width: 75%;
    height: 60%;
    background-color: #cc0000;
    border-radius: 50%;
}

.eye {
    display: flex;
    position: absolute;
    top:15%;
    width: 25%;
    height: 25%;
    background-color: #cc0000;
    border-radius: 50%; 
    align-items: center;
}

.right-eye {
    right: 20%;
}

.left-eye {
    left: 20%; 
}

.inner-eye {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 50%;
}

.pupil {
    position: absolute;
    top: 50%;
    width: 25%;
    height: 25%;
    background-color: black;
    border-radius: 50%;
}

.right-pupil {
    left: 20%;
}

.left-pupil {
    right: 20%;
}

.mouth {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.outer-mouth {
    display: flex;
    align-items: center;
    margin: auto;
    background: linear-gradient(to top, #000 0%, #000 50%, transparent 50%, transparent 100%);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    z-index: 12;
}

.inner-mouth {
    margin: auto;
    background: linear-gradient(to top, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
    width: 85%;
    height: 85%;
    border-radius: 50%;
    z-index: 12;
}

.arm {
    position: absolute;
    top: 10%;
    width: 20%;
    height: 40%;
    border: var(--crab-arm-size) solid #cc0000;
    border-top: none;
}

.left-arm {
    left: -12%;
    border-radius: 0 0 0 100% / 25%;
    border-right: none;
    
}

.right-arm {
    right: -12%;
    border-radius: 0 0 100% 0 / 25%;
    border-left: none;
}

.left-hand {
    position: absolute;
    left: -10%;
    width: 100%;
    height: 100%;
}

.right-hand {
    position: absolute;
    right: -109.5%;
    width: 100%;
    height: 100%;
}

.left-claw-part {
    position: absolute;
    top: -8%;
    width: 20%;
    height: 20%;
    background: linear-gradient(#cc0000 0%, #cc0000 50%, transparent 50%, transparent 100%);
    border-radius: 50%;
    left: -10%;
    transform: rotate(-135deg);
}

.right-claw-part {
    position: absolute;
    top: -8%;
    width: 20%;
    height: 20%;
    background: linear-gradient(#cc0000 0%, #cc0000 50%, transparent 50%, transparent 100%);
    border-radius: 50%;
    left: -10%;
    transform: rotate(135deg);
}

.left-leg1 {
    position: absolute;
    top: 60%;
    left: -5%;
    width: 25%;
    height: 25%;
    border-top-left-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 100% calc(var(--crab-size) * 0.075);
    transform: rotate(-25deg);
    animation: left-leg-move 2s;
    animation-iteration-count: 5;
    animation-delay: 0.7s
}

.left-leg2 {
    position: absolute;
    top: 66%;
    left: 6.5%;
    width: 20%;
    height: 20%;
    border-top-left-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 100% calc(var(--crab-size) * 0.075);
    transform: rotate(-20deg);
    animation: left-leg-move 2s;
    animation-iteration-count: 5;
    animation-delay: 0.35s;
}

.left-leg3 {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 15%;
    height: 15%;
    border-top-left-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 100% calc(var(--crab-size) * 0.075);
    transform: rotate(-15deg);
    animation: left-leg-move 2s;
    animation-iteration-count: 5;
}

.right-leg1 {
    position: absolute;
    top: 60%;
    left: 80%;
    width: 25%;
    height: 25%;
    border-top-right-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 0 calc(var(--crab-size) * 0.075);
    transform: rotate(25deg);
    animation: right-leg-move 2s;
    animation-iteration-count: 5;
    animation-delay: 1.4s;
}

.right-leg2 {
    position: absolute;
    top: 66%;
    left: 73.5%;
    width: 20%;
    height: 20%;
    border-top-right-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 0 calc(var(--crab-size) * 0.075);
    transform: rotate(20deg);
    animation: right-leg-move 2s;
    animation-iteration-count: 5;
    animation-delay: 0.7s;
}

.right-leg3 {
    position: absolute;
    top: 70%;
    left: 65%;
    width: 15%;
    height: 15%;
    border-top-right-radius: calc(var(--crab-size) * 0.15);
    border-top: solid #cc0000 calc(var(--crab-size) * 0.075);
    transform-origin: 0 calc(var(--crab-size) * 0.075);
    transform: rotate(15deg);
    animation: right-leg-move 2.1s;
    animation-iteration-count: 5;
    animation-delay: 0.35;
}

/**************Cake*************/

.cake {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    
}

.plate {
    position: absolute;
    top: calc(var(--crab-size) * -0.275);
    right: calc(var(--crab-size) * -0.25);
    width: 150%;
    height: 25%;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow:
        0 calc(var(--crab-size) * 0.005 * 2) 0 0 #bbb,
        0 calc(var(--crab-size) * 0.005 * 3) 0 0 #aaa,
        0 calc(var(--crab-size) * 0.005 * 4) 0 0 #999,
        0 calc(var(--crab-size) * 0.005 * 5) 0 0 #888,
        0 calc(var(--crab-size) * 0.005 * 6) 0 0 #777;
}

.layer {
    position: absolute;
    right: calc(var(--crab-size) * -0.125);
    width: 125%;
    height: 25%;
    border-radius: 50%;
    background-color: #7B3F00;
    
}

.bottom-layer {
    top: calc(var(--crab-size) * -0.45);
    box-shadow: var(--cake-layer-color)
}

.middle-layer {
    top: calc(var(--crab-size) * -0.6);
    box-shadow: var(--cake-layer-color),
        0 calc(var(--crab-size) * 0.175) 0 0 #fff;
}

.top-layer {
    top: calc(var(--crab-size) * -0.775);
    box-shadow: var(--cake-layer-color),
        0 calc(var(--crab-size) * 0.175) 0 0 #fff;
}

.drip1 {
    position: absolute;
    top: calc(var(--crab-size) * -0.6);
    left: calc(var(--crab-size) * -0.075);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.45);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    transform: skewY(15deg);
    z-index: 1;
}

.drip2 {
    position: absolute;
    top: calc(var(--crab-size) * -0.55);
    left: calc(var(--crab-size) * 0.3);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.4);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    transform: skewY(5deg);
    z-index: 1;
}

.drip3 {
    position: absolute;
    top: calc(var(--crab-size) * -0.575);
    right: calc(var(--crab-size) * 0.15);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.45);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    transform: skewY(-15deg);
    z-index: 1;
}

.drip4 {
    position: absolute;
    top: calc(var(--crab-size) * -0.6);
    right: calc(var(--crab-size) * -0.05);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.2);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    transform: skewY(-20deg);
    z-index: 1;
}

.drip5 {
    position: absolute;
    top: calc(var(--crab-size) * -0.55);
    right: calc(var(--crab-size) * 0.35);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.3);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    z-index: 1;
}

.drip6 {
    position: absolute;
    top: calc(var(--crab-size) * -0.6);
    left: calc(var(--crab-size) * 0.1);
    width: calc(var(--crab-size) * 0.15);
    height: calc(var(--crab-size) * 0.35);
    border-radius: calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 50% 50%;
    background-color: #7B3F00;
    transform: skewY(15deg);
    z-index: 1;
}

.left-candle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -1.175);
    left: calc(var(--crab-size) * 0.275);
    z-index: 1;
}

.right-candle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -1.175);
    left: calc(var(--crab-size) * 0.5);
    z-index: 1;
}

.candle-foot {
    position: absolute;
    top: calc(var(--crab-size) * 0.5);
    left: calc(var(--crab-size) * 0.1);
    width: calc(var(--crab-size) * 0.025);
    height: calc(var(--crab-size) * 0.025);
    background-color: #ff74b1;
    border-radius: 0 0 50% 50%;
}

.h-candle-3-top {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
}

.h-candle-3-bottom {
    position: absolute;
    top: calc(var(--crab-size) * 0.465);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
}

.h-candle-3-middle {
    position: absolute;
    top: calc(var(--crab-size) * 0.305);
    left: calc(var(--crab-size) * 0.065);
    width : calc(var(--crab-size) * 0.105);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
}

.v-candle-3 {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.16);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.35);
    border-radius: 0 calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 0;
}

.h-candle-2-top {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.03);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025);
}

.h-candle-2-bottom {
    position: absolute;
    top: calc(var(--crab-size) * 0.465);
    left: calc(var(--crab-size) * 0.04);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: 0 calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 0;
}

.h-candle-2-middle {
    position: absolute;
    top: calc(var(--crab-size) * 0.305);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025);
}

.v-candle-2-right {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.15);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.19);
    border-radius: 0 calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 0;
}

.v-candle-2-left {
    position: absolute;
    top: calc(var(--crab-size) * 0.3225);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.175);
    background-color: #ff74b1;
    border-radius: calc(var(--crab-size) * 0.025);
}

.v-candle-2-left-shadow {
    position: absolute;
    top: calc(var(--crab-size) * 0.34);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.125);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
    box-shadow: calc(var(--crab-size) * 0.005) 0px 0 0 #b81b43;
}

.h-candle-0-top {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.025);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
}

.h-candle-0-bottom {
    position: absolute;
    top: calc(var(--crab-size) * 0.465);
    left: calc(var(--crab-size) * 0.04);
    width : calc(var(--crab-size) * 0.14);
    height: calc(var(--crab-size) * 0.035);
    border-radius: 0 calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 0;
}

.v-candle-0-left {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.005);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.35);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
    background-color: #ff74b1;
}

.v-candle-0-left-shadow {
    position: absolute;
    top: calc(var(--crab-size) * 0.185);
    left: calc(var(--crab-size) * 0.005);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.28);
    border-radius: calc(var(--crab-size) * 0.025) 0 0 calc(var(--crab-size) * 0.025);
    box-shadow: calc(var(--crab-size) * 0.005) 0px 0 0 #b81b43;
}

.v-candle-0-right {
    position: absolute;
    top: calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * 0.16);
    width : calc(var(--crab-size) * 0.035);
    height: calc(var(--crab-size) * 0.35);
    border-radius: 0 calc(var(--crab-size) * 0.025) calc(var(--crab-size) * 0.025) 0;
}

.candle-stick {
    box-shadow: calc(var(--crab-size) * 0.005) calc(var(--crab-size) * -0.01) 0 0 #b81b43;
    background-color: #ff74b1;
}

.wick {
    position: absolute;
    top: 4%;
    left: 10%;
    width: calc(var(--crab-size) * 0.025);
    height: calc(var(--crab-size) * 0.1);
    background: linear-gradient(to top, #fff 0, #fff 30%, #000 80%, #000 100%);
}

.flame {
    position: absolute;
    background-color: #ffce00;
    width: calc(var(--crab-size) * 0.045);
    height: calc(var(--crab-size) * 0.105);
    border-radius: calc(var(--crab-size) * 0.05) calc(var(--crab-size) * 0.05) calc(var(--crab-size) * 0.05) calc(var(--crab-size) * 0.05) / calc(var(--crab-size) * 0.125) calc(var(--crab-size) * 0.125) calc(var(--crab-size) * 0.05) calc(var(--crab-size) * 0.05);
    top: 0%;
    left: 9%;
    box-shadow:
        0 0 calc(var(--crab-size) * 0.025 * 2) #ffc000,
        0 0 calc(var(--crab-size) * 0.025 * 3) #ffc000,
        0 0 calc(var(--crab-size) * 0.025 * 4) #ffc000,
        0 0 calc(var(--crab-size) * 0.025 * 5) #ffc000;
    transform-origin: 50% 90%;
    animation: moving-flame 2s ease-in-out alternate infinite;
}

.smoke {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #848884;
    box-shadow: 0 0 calc(var(--crab-size) * 0.01) black;
    border-radius: 50% 70% 50% 20%;
    left: 10%;
    top: 4%;
    opacity: 0;
}

/***************Strawberry**************/

.strawberry1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.75);
    z-index: 2;
}

.strawberry2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.7);
    left: calc(var(--crab-size) * 0.25);
    z-index: 2;
}

.strawberry3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.7);
    left: calc(var(--crab-size) * 0.65);
    z-index: 2;
}

.strawberry4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.75);
    left: calc(var(--crab-size) * 0.9);
    z-index: 2;
}

.strawberry5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.8);
    left: calc(var(--crab-size) * 0.65);
    z-index: 0;
}

.strawberry6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(var(--crab-size) * -0.8);
    left: calc(var(--crab-size) * 0.25);
    z-index: 0;
}

.strawberry {
    position: absolute;
    background: linear-gradient(to top, #ff0800 0%, #ff0800 50%, transparent 50%, transparent 100%);
    width: 10%;
    height: 18%;
    border-radius: 39% 42% 47% 53% / 24% 25% 75% 76%;
    transform: rotate(180deg);
}

.strawberry-leaf {
    position: absolute;
    background-color: green;
    width: 44%;
    height: 32%;
    border-radius: 0% 200% 80% 200%;
}

.strawberry-leaf-sharp {
    position: absolute;
    background-color: green;
    width: 14%;
    height: 16.5%;
    border-radius: 0% 200% 80% 200%;
}

/**************Roses**************/

.rose {
    position: absolute;
    top: -100%;
    right: 0;
    width: 0;
    height: 0;
}

.rose1 {
    left: 25%;
    animation: flower-drop1 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.rose2 {
    left: 25%;
    animation: flower-drop2 5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

.rose3 {
    left: 25%;
    animation: flower-drop3 5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.rose4 {
    right: 25%;
    animation: flower-drop4 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.rose5 {
    right: 25%;
    animation: flower-drop5 5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

.rose6 {
    right: 25%;
    animation: flower-drop6 5s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.stem {
    position: absolute;
    width: 5px;
    height: calc(var(--crab-size) * 0.75);
    background: linear-gradient(to right, #006838, #00532c, #006838);
    border-radius: 0 0 2px 2px;
}

.thorn {
    position: absolute;
    width: 0;
    height: 0;
    border-top: calc(var(--crab-size) * 0.04) solid #006838;
    border-left: calc(var(--crab-size) * 0.025) solid transparent;
    border-bottom: calc(var(--crab-size) * 0.025) solid transparent; 
    border-right: calc(var(--crab-size) * 0.025) solid transparent;
}

.thorn:nth-child(1) {
    transform: rotate(90deg);
    top: 30%;
    right: calc(100% + calc(var(--crab-size) / 200));
}

.thorn:nth-child(2) {
    transform: rotate(-90deg);
    top: 60%;
    left: calc(100% + calc(var(--crab-size) / 200));
}

.petal {
    position: absolute;
    width: calc(var(--crab-size) * 0.225);
    height: calc(var(--crab-size) * 0.4);
}

.front-petal:nth-child(2n + 1) {
    background-color: #ee0000;
    border-radius: 0 calc(var(--crab-size) * 0.15) 0 calc(var(--crab-size) * 0.15);
    top: calc(var(--crab-size) * -0.4);
    left: calc(var(--crab-size) * -0.175);
}

.front-petal:nth-child(2n) {
    background-color: #ee0000;
    border-radius: calc(var(--crab-size) * 0.15) 0 calc(var(--crab-size) * 0.15) 0;
    top: calc(var(--crab-size) * -0.4);
    left: calc(var(--crab-size) * -0.025);
}

.back-petal {
    top: calc(var(--crab-size) * -0.425);
}

.back-petal:nth-child(2n + 1) {
    background-color: #ff0000;
    border-radius: calc(var(--crab-size) * 0.15) 0 calc(var(--crab-size) * 0.15) 0;
    left: calc(var(--crab-size) * -0.075);
}

.back-petal:nth-child(2n) {
    background-color: #ff0000;
    border-radius: 0 calc(var(--crab-size) * 0.15) 0 calc(var(--crab-size) * 0.15);
    left: calc(var(--crab-size) * -0.125);
}

/**************Animation**************/

@keyframes sunshine {
    0% {
        box-shadow: 0 0 20px 15px #fff57b;
    }
    
    50% {
        box-shadow: 0 0 50px 15px #fff57b;
    }
    
    100% {
        box-shadow: 0 0 20px 15px #fff57b;
    }
}

@keyframes rotation-right {
    0% {
        transform: rotate(0deg)
    }
    
    50% {
        transform: rotate(60deg)
    }
    
    100% {
        transform: rotate(180deg)
    }
}

@keyframes rotation-left {
    0% {
        transform: rotate(0deg)
    }
    
    50% {
        transform: rotate(-60deg)
    }
    
    100% {
        transform: rotate(0deg)
    }
}

@keyframes left-leg-move {
    0% {
        transform: rotate(-15deg)
    }
    
    50% {
        transform: rotate(-30deg)
    }
    
    100% {
        transform: rotate(-15deg)
    }
}

@keyframes right-leg-move {
    0% {
        transform: rotate(15deg)
    }
    
    50% {
        transform: rotate(30deg)
    }
    
    100% {
        transform: rotate(15deg)
    }
}

@keyframes moving-crab {
    0% {
        right: -250px;
        top: calc(50vh - 0.5 * var(--crab-size));
    }
    
    100% {
        transform: translate(250px + calc(50vw - 0.5 * var(--crab-size)), 0);
        top: calc(50vh - 0.5 * var(--crab-size));
    }   
}

@keyframes flower-drop1 {
    0% {
        top: -60%;
        transform: rotate(90deg);
    }
    
    100% {
        top: 90%;
        transform: rotate(80deg);
    }
}

@keyframes flower-drop2 {
    0% {
        top: -60%;
        transform: rotate(90deg);
    }
    
    100% {
        top: 80%;
        transform: rotate(80deg);
    }
}

@keyframes flower-drop3 {
    0% {
        top: -60%;
        transform: rotate(90deg);
    }
    
    100% {
        top: 70%;
        transform: rotate(80deg);
    }
}

@keyframes flower-drop4 {
    0% {
        top: -60%;
        transform: rotate(-90deg);
    }
    
    100% {
        top: 90%;
        transform: rotate(-80deg);
    }
}

@keyframes flower-drop5 {
    0% {
        top: -60%;
        transform: rotate(-90deg);
    }
    
    100% {
        top: 80%;
        transform: rotate(-80deg);
    }
}

@keyframes flower-drop6 {
    0% {
        top: -60%;
        transform: rotate(-90deg);
    }
    
    100% {
        top: 70%;
        transform: rotate(-80deg);
    }
}

@keyframes moving-flame {
    0% {
        transform: skewX(5deg)
    }
    
    25% {
        transform: skewX(-5deg)
    }
    
    50% {
        transform: skewX(10deg)
    }
    
    75% {
        transform: skewX(-10deg)
    }
    
    100% {
        transform: skewX(5deg)
    }
}

@keyframes render-wish {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes flame-off {
    0% {
        top: 4%;
        left: 10%;
        opacity: 1;
        
    }
    
    25% {
        top: 0%;
        left: 8%;
    }
    
    50% {
        top: -4%;
        left: 12%;
    }
    
    75% {
        top: -8%;
        left: 8%;
    }
    
    100% {
        top: -12%;
        left: 12%;
        opacity: 0;
    }
}